POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=dev_db
POSTGRES_PORT=5432
POSTGRES_HOST=db

DATABASE_URL="postgresql://dev_user:dev_password@db:5432/dev_db?schema=public"
DIRECT_URL="postgresql://dev_user:dev_password@db:5432/dev_db?schema=public"
